@model IEnumerable<WebApplication4.Models.CArticulo>

@{
    ViewData["Title"] = "SelectShow";
}
<br />
<h1>Articulos</h1>

<p>
    <a asp-action="InsertarOpen" class="btn btn-success">Crear Nuevo</a>
</p>
<form asp-action="SelectShowSearch">
    <select name="Columnas">
        <option value="ID">Identificador</option>
        <option value="DESCRIPCION">Descripcion</option>
        <option value="M_MARCA">Marca</option>
        <option value="UM_NOMBRE">Unidad de medida</option>
        <option value="EXISTENCIA">Existencia</option>
        <option value="E_NOMBRE">Estado</option>
    </select>
    <select name="Operadores">
        <option value="=">Igual</option>
        <option value="!=">Diferente</option>
        <option value="<">Menor</option>
        <option value="<=">Menor o Igual</option>
        <option value=">">Mayor</option>
        <option value=">=">Mayor o Igual</option>
    </select>
    <input type="text" placeholder="Inserte su criterio de busqueda"  name="Criterio"/>

    <button type="submit" name="btnBuscar"  class="btn-primary">Buscar</button>
</form>
<form asp-action="Exportar">
    <button type="submit" class="btn-primary">Exportar</button>
</form>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
               Descripcion
            </th>
            <th>
                Marca
            </th>
            <th>
                Unidad de Medida
            </th>
            <th>
                Existencia
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreUnidadMedida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEstado)
            </td>
            <td>

                @*@Html.ActionLink("Edit", $"ActualizarOpen={item.id}", new { /* id=item.PrimaryKey */ }) |*@
                <a asp-action="ActualizarOpen" asp-route-id="@item.id" class="btn btn-primary">Editar</a> |
                <a asp-action="EliminarOpen" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
                @*Html.ActionLink("Delete", "EliminarOpen", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
