@model IEnumerable<WebApplication4.Models.COrdenCompra>

@{
    ViewData["Title"] = "SelectShow";
}

<h1>Orden de Compra</h1>

<p>
    <a asp-action="InsertarOpen" class="btn btn-success">Crear Nuevo</a>
</p>
<form asp-action="SelectShowSearch">
    <select name="Columnas">
        <option value="ID">Identificador</option>
        <option value="SOLICITUD">Solicitud</option>
        <option value="FECHA">Fecha</option>
        <option value="A_DESCRIPCION">Articulo</option>
        <option value="CANTIDAD">Cantidad</option>
        <option value="UM_DESCRIPCION">Unidad de Medida</option>
        <option value="M_DESCRIPCION">Marca</option>
        <option value="COSTO_UNITARIO">Costo Unitario</option>
        <option value="NOMBRE">Estado</option>
    </select>
    <select name="Operadores">
        <option value="=">Igual</option>
        <option value="!=">Diferente</option>
        <option value="<">Menor</option>
        <option value="<=">Menor o Igual</option>
        <option value=">">Mayor</option>
        <option value=">=">Mayor o Igual</option>
    </select>
    <input type="text" placeholder="Inserte su criterio de busqueda" name="Criterio"/>

    <button type="submit" name="btnBuscar" class="btn-primary">Buscar</button>
</form>
<form asp-action="Exportar">
    <button type="submit" class="btn-primary">Exportar</button>
</form>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Solicitud
            </th>
            <th>
                Fecha
            </th>
            <th>
                Articulo
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Unidad de Medida
            </th>
            <th>
                Marca
            </th>
            <th>
                Costo Unitario
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.solicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreArticulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUnidadMedida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreMarca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costoUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreEstado)
                </td>
                <td>
                    <a asp-action="ActualizarOpen" asp-route-id="@item.id" class="btn btn-primary">Editar</a> |
                    <a asp-action="EliminarOpen" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
