@model IEnumerable<WebApplication4.Models.COrdenCompra>

@{
    ViewData["Title"] = "SelectShow";
}

<h1>Orden de Compra</h1>

<p>
    <a asp-action="InsertarOpen" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Solicitud
            </th>
            <th>
                Fecha
            </th>
            <th>
                Articulo
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Unidad de Medida
            </th>
            <th>
                Marca
            </th>
            <th>
                Costo Unitario
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.solicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreArticulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUnidadMedida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreMarca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costoUnitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreEstado)
                </td>
                <td>
                    <a asp-action="ActualizarOpen" asp-route-id="@item.id" class="btn btn-primary">Editar</a> |
                    <a asp-action="EliminarOpen" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
