@model WebApplication4.Models.CEmpleado
@using MySql.Data.MySqlClient;
@{
    ViewData["Title"] = "ActualizarOpen";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<br />
<h1 >Actualizar Empleado</h1>

<hr />
<div class="row Card__container--float-low">
    <div class="col-md-4">
        <form asp-action="ActualizarSend" asp-route-id="@ViewData["id"]" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cedula" class="control-label" style="color:white"></label>
                <input asp-for="cedula" class="form-control" />
                <span asp-validation-for="cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label" style="color:white"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departamento" class="control-label" style="color:white"></label>
                <select asp-for="departamento" class="form-control">
                    @using (MySqlDataReader reader = await CEntidad.ExecuteReader("SELECT * FROM DEPARTAMENTO"))
                    {
                        while (await reader.ReadAsync())
                        {
                            <option value="@reader["ID"]">@reader["NOMBRE"]</option>
                        }
                        await CEntidad._connection.CloseAsync();
                    }
                </select>
                <span asp-validation-for="departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label" style="color:white"></label>
                <select asp-for="estado" class="form-control">
                    @using (MySqlDataReader reader = await CEntidad.ExecuteReader("SELECT * FROM ESTADO"))
                    {
                        while (await reader.ReadAsync())
                        {
                            <option value="@reader["ID"]">@reader["NOMBRE"]</option>
                        }
                        await CEntidad._connection.CloseAsync();
                    }
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="width:100%; height:3rem" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div style="margin: 2rem 0rem 0rem 4rem" class="IconRefresh">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="80%" height="80%" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0275d8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" />
                <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" />
            </svg>
        </div>
    </div>
</div>

<div>
    <a asp-action="SelectShow">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
