@model IEnumerable<WebApplication4.Models.CUnidadMedida>

@{
    ViewData["Title"] = "SelectShow";
}
<br />
<h1>Unidades de Medida</h1>

<p>
    <a asp-action="InsertarOpen" class="btn btn-success">Crear Nuevo</a>
</p>
<form asp-action="SelectShowSearch">
    <select name="Columnas">
        <option value="ID">Identificador</option>
        <option value="EMP_NOMBRE">Empleado</option>
        <option value="A_NOMBRE">Articulo</option>
        <option value="CANTIDAD">Cantidad</option>
        <option value="UM_DESCRIPCION">Unidad de Medida</option>
        <option value="EST_NOMBRE">Estado</option>
    </select>
    <select name="Operadores">
        <option value="=">Igual</option>
        <option value="!=">Diferente</option>
        <option value="<">Menor</option>
        <option value="<=">Menor o Igual</option>
        <option value=">">Mayor</option>
        <option value=">=">Mayor o Igual</option>
    </select>
    <input type="text" placeholder="Inserte su criterio de busqueda" name="Criterio"/>

    <button type="submit" name="btnBuscar">Buscar</button>
</form>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreEstado)
            </td>
            <td>
                @*@Html.ActionLink("Edit", $"ActualizarOpen={item.id}", new { /* id=item.PrimaryKey */ }) |*@
                <a asp-action="ActualizarOpen" asp-route-id="@item.id" class="btn btn-primary">Editar</a> |
                <a asp-action="EliminarOpen" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
                @*Html.ActionLink("Delete", "EliminarOpen", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
