@model WebApplication4.Models.CSolicitud
@using MySql.Data.MySqlClient;
@{
    ViewData["Title"] = "InsertarOpen";
}

<h1>InsertarOpen</h1>

<h4>CSolicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertarSend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empleado" class="control-label">Empleado</label>
                <select asp-for="empleado" class="form-control">
                    @using (MySqlDataReader reader = await CEntidad.ExecuteReader("SELECT * FROM EMPLEADO"))
                    {
                        while (await reader.ReadAsync())
                        {
                            <option value="@reader["ID"]">@reader["NOMBRE"]</option>
                        }
                        await CEntidad._connection.CloseAsync();
                    }
                </select>
                <span asp-validation-for="empleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha" class="control-label">Fecha</label>
                <input asp-for="fecha" value="@DateTime.Now" type="date" class="form-control" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="articulo" class="control-label">Articulo</label>
                <select asp-for="articulo" class="form-control">
                    @using (MySqlDataReader reader = await CEntidad.ExecuteReader("SELECT * FROM ARTICULO"))
                    {
                        while (await reader.ReadAsync())
                        {
                            <option value="@reader["ID"]">@reader["DESCRIPCION"]</option>
                        }
                        await CEntidad._connection.CloseAsync();
                    }
                </select>
                <span asp-validation-for="articulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label">Cantidad</label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidadMedida" class="control-label">Unidad de Medida</label>
                <select asp-for="unidadMedida" class="form-control">
                    @using (MySqlDataReader reader = await CEntidad.ExecuteReader("SELECT * FROM UNIDAD_MEDIDA"))
                    {
                        while (await reader.ReadAsync())
                        {
                            <option value="@reader["ID"]">@reader["DESCRIPCION"]</option>
                        }
                        await CEntidad._connection.CloseAsync();
                    }
                </select>
                <span asp-validation-for="unidadMedida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label">Estado</label>
                <select asp-for="estado" class="form-control">
                    @using (MySqlDataReader reader = await CEntidad.ExecuteReader("SELECT * FROM ESTADO"))
                    {
                        while (await reader.ReadAsync())
                        {
                            <option value="@reader["ID"]">@reader["NOMBRE"]</option>
                        }
                        await CEntidad._connection.CloseAsync();
                    }
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SelectShow">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
